---
import Layout from '../layouts/Layout.astro';
import { Content as CCBTContent } from './ccbt.mdx';
---

<Layout title="Church-Centric Bible Translation | IdiomasPuentes">
  <div class="container mx-auto px-4 py-16">
    <h1 class="text-4xl font-bold mb-8">Church-Centric Bible Translation</h1>
    <CCBTContent />
  </div>
</Layout>
