---
import Layout from '../../layouts/Layout.astro';
import { Content as CCBTContent } from './ccbt.mdx';

const title = "Traducción Bíblica Centrada en la Iglesia | IdiomasPuentes";
---

<Layout title={title}>
  <div class="container mx-auto px-4 py-16">
    <h1 class="text-4xl font-bold mb-8">Traducción Bíblica Centrada en la Iglesia</h1>
    <CCBTContent />
  </div>
</Layout>
